In [16]:
import pandas as pd

In [17]:
# Creating DF from vine csv
vine_data_to_load = "vine_table.csv"
vine_df = pd.read_csv(vine_data_to_load)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [18]:
vine_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [19]:
# 1. Filter total votes to only include votes greater than 20 then make a new dataframe
filtered_total_votes_df = vine_df[(vine_df["total_votes"]  >= 20)]
filtered_total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [69]:
# 2. using the dataframe in the previous cell divide the rows where helpful votes by total votes is equal to or great than 50% then make a new dataframe



helpful_total = filtered_total_votes_df.assign(Helpful_Total_votes = (filtered_total_votes_df['helpful_votes']/filtered_total_votes_df['total_votes']))
helpful_total_df = helpful_total[(helpful_total["Helpful_Total_votes"] >= 0.5)]
helpful_total_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,Helpful_Total_votes
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y,0.850000

In [35]:
# 3. using the dataframe in the previous cell retrieve all rows where a review was part of the vine program then make a new dataframe
# vine == Y
vine_paid_df = helpful_total_df[(helpful_total_df["vine"] == "Y")]
vine_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,Helpful_Total_votes
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N,0.900000
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N,1.000000
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N,0.928571
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N,0.966667
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N,1.000000
...,...,...,...,...,...,...,...
2596353,RV5OQXGCYHSC6,5.0,24.0,28.0,Y,N,0.857143
2596519,R2XLAQL0E2UPWQ,4.0,33.0,34.0,Y,N,0.970588
2597336,R2UJFVH97OJORD,3.0,106.0,117.0,Y,N,0.905983
2597830,RJXG84I331N9T,3.0,146.0,154.0,Y,N,0.948052
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N,0.947826

In [36]:
# 4. using the dataframe in step 2 retrieve all rows where a review was part of the vine program then make a new dataframe
# vine == N
vine_unpaid_df = helpful_total_df[(helpful_total_df["vine"] == "N")]
vine_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,Helpful_Total_votes
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y,0.850000

In [82]:
# 5. Determine the total # of reviews
# what is the number of 5 star reviews?
# Whats is the percentage of 5 star reviews for Y and N?

review_count = len(vine_df['review_id'].unique())
five_star_reviews = vine_df[(vine_df['star_rating'] == 5.0)].count()['star_rating']

paid_five_star_review = vine_paid_df[(vine_paid_df['star_rating'] == 5.0)].count()['review_id']
unpaid_five_star_review = vine_unpaid_df[(vine_unpaid_df['star_rating'] == 5.0)].count()['review_id']

percentage_paid_five_star_reviews = (paid_five_star_review / review_count) * 100
percentage_unpaid_five_star_reviews = (unpaid_five_star_review / review_count) * 100

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [84]:
print(f"{review_count} is the total number of reviews")
print(f"{five_star_reviews} is the total number of 5 star reviews")

print(f"The precentage for paid five star reviews is {percentage_paid_five_star_reviews: .2f}%")
print(f"The percentage for unpaid five star reviews is {percentage_unpaid_five_star_reviews: .2f}%")

2643619 is the total number of reviews
1645553 is the total number of 5 star reviews
The precentage for paid five star reviews is  0.00%
The percentage for unpaid five star reviews is  0.78%